*{
    box-sizing: border-box;
}

:root{
    --primary-color: #ff6f61;
    --text-color:white;
    --font-family: Arial, sans-serif;

}

body{
    background: url(./bg/stacked-steps-haikei.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--text-color);
    animation: backgroundAnimation 21s infinite alternate;

}
/* card */
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 30px;
    /* justify-content: center; */
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

}

/* form */

.card-form{
    display: grid;
    margin-top: 40px;
    gap: 15px;
}

.card-form > h2 {
    font-size: 1.8rem;
    margin: 10px 0;
}

.card-form > p{
    font-size: 1.2rem;
    margin: 10px 0;
    color: var(--text-color)
}

.card-form :is(input , button){
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.card-form input{
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 1rem;
    padding-left: 15px;
    margin-bottom: 10px;
    height: 57px;
    background-color:rgba(255, 255, 255, 0.219);;
}

.card-form input::placeholder {
    color: lightgrey
  }

  .card-form button {
    cursor: pointer;
    height: 50px;
    padding: 0;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    font-family:var(--font-family);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .card-form button:hover {
    background: #e85b50;
  }
  
  .forgot-password {
    color: #e85b50;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    margin-left: -270px;
  }
  
  /* animation */
  @keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}
  

/* Responsive  */
 /* @media (min-width: 448px) {
    .card {
        margin: 20px auto;
        width: 90%;
        min-width: 400px;
    }
} */

/* @media (min-width: 628px) {
    .card {
        position:relative;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        padding: 40px;
        width: auto;
        max-width: none;
        min-width: 500px;
        display:flex;
        border-radius: 0;
        flex-direction: column;
    
        
    }
    .body{
        justify-content: right;
        
    }
} */